.annual {
  grid-area: annual;
  place-self: center;
}

main {
  display: grid;
  grid-template-areas:
      "tagline tagline"
      "monthly annual";
}

.monthly {
  grid-area: monthly;
  place-self: center;
}

.tagline {
  grid-area: tagline;
  place-self: center;
}