<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Corrily demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/base.css" rel="stylesheet">
    <style>
      .email {
        grid-area: email;
        place-self: center;
      }
      main {
        grid-template-areas:
            "tagline"
            "email"
            "tip";
      }
      .tip {
        grid-area: tip;
        place-self: center;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 class="tagline">Corrily demo</h1>
      <form class="email" action="/subscribe" method="POST">
        <h2>Enter your email address</h2>
        <input type="email" name="email" required>
        <input type="hidden" name="uuid" value="{{uuid}}">
        <input type="submit" value="Continue">
      </form>
      <p class="tip">
        Tip: On the next screen you can use one of Stripe's
        <a href="https://stripe.com/docs/testing#cards">test cards</a>.
      </p>
    </main>
  </body>
</html>