<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Corrily demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/index.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1 class="tagline">Corrily demo</h1>
      <form class="monthly" action="/email" method="POST">
        <h2>Monthly</h2>
        <p class="monthly__price">{{ monthly }}</p>
        <input type="hidden" name="ip" value="{{ ip }}">
        <input type="hidden" name="id" value="monthly">
        <input type="submit" class="monthly__subscribe" value="Subscribe">
      </form>
      <form class="annual" action="/email" method="POST">
        <h2>Annual</h2>
        <p class="annual__price">{{ annual }}</p>
        <input type="hidden" name="ip" value="{{ ip }}">
        <input type="hidden" name="id" value="annual">
        <input type="submit" class="annual__subscribe" value="Subscribe">
      </form>
    </main>
  </body>
</html>